.Text_Simple
{
	font-family: open-sans-n3, sans-serif;
}

.Slideshow_Caption,.Menu,.Subtitle,.Title_Tabbed_Panel
{
	font-family: open-sans-n4, sans-serif;
}

.Title,.Menu_Button
{
	font-family: museo-sans-n3, sans-serif;
}

.rss-title
{
	font-family: source-sans-pro-n6, sans-serif;
}

.rss-date
{
	font-family: source-sans-pro-i3, sans-serif;
}

.rss-paragraph
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u19788-8,#u19788-13,#u19788-16,#u19788-19
{
	font-family: source-sans-pro-n4, sans-serif;
}

