.version.index /* version checker */
{
	color: #00001E;
	background-color: #FB80D7;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	border-width: 0px;
	border-color: #000000;
	background-image: none;
	z-index: 1;
	width: 100%;
	margin-left: auto;
	background-color: transparent;
	margin-right: auto;
}

#slideshowu75
{
	position: relative;
	width: 0.01px;
	z-index: 59;
	margin-right: -10000px;
}

#u77
{
	position: absolute;
	background-color: transparent;
}

#u77popup
{
	z-index: 60;
}

#u18359
{
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	z-index: 61;
	background-color: transparent;
}

#u19511
{
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	z-index: 63;
	background-color: transparent;
}

#u18410
{
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	z-index: 65;
	background-color: transparent;
}

#u4198
{
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	z-index: 67;
	background-color: transparent;
}

#u96-3
{
	border-color: #DBDBDB;
	position: absolute;
	border-style: solid;
	padding: 15px;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	letter-spacing: 1px;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	border-width: 0px 1px 0px 0px;
	background-size: contain;
}

#u96-3popup
{
	z-index: 69;
}

#u88-3
{
	border-color: #DBDBDB;
	position: absolute;
	border-style: solid;
	padding: 15px;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	letter-spacing: 1px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	border-width: 0px 0px 0px 1px;
	background-size: contain;
}

#u88-3popup
{
	z-index: 72;
}

#u96-3:hover,#u88-3:hover
{
	opacity: 0.5;
	filter: alpha(opacity=50);
	background-position: center center;
	background-repeat: no-repeat;
	padding-top: 15px;
	padding-bottom: 15px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	margin: 0px;
	background-size: contain;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u18634
{
	position: relative;
	z-index: 114;
	background-color: transparent;
	margin-right: -10000px;
}

#u18632
{
	display: block;
	z-index: 115;
}

#u1187-4
{
	display: block;
	position: relative;
	vertical-align: top;
	z-index: 144;
}

#u1189-4
{
	font-family: open-sans, sans-serif;
	text-align: center;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	font-weight: 400;
	z-index: 148;
	letter-spacing: 5px;
	-pie-box-shadow: none;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #7F7F7F;
	position: relative;
	box-shadow: none;
}

#u1189-2
{
	padding-top: 9px;
}

#u1180
{
	border-style: solid;
	border-color: #E8E8E8;
	z-index: 7;
	background-color: #FFFFFF;
	border-width: 1px 0px;
}

#u1180_align_to_page
{
	width: 100%;
	margin-left: auto;
	position: relative;
	margin-right: auto;
}

#u1186
{
	border-width: 0px;
	border-color: transparent;
	position: relative;
	z-index: 8;
	background-color: transparent;
	margin-right: -10000px;
}

#u1185-4
{
	min-height: 34px;
	position: relative;
	line-height: 14px;
	z-index: 17;
	background-color: transparent;
	margin-right: -10000px;
}

#pu1182-4
{
	margin-right: -10000px;
}

#u1182-4
{
	min-height: 34px;
	position: relative;
	line-height: 14px;
	z-index: 9;
	background-color: transparent;
	margin-right: -10000px;
}

#u1183-4
{
	min-height: 34px;
	border-style: solid;
	background-color: transparent;
	margin-right: -10000px;
	z-index: 13;
	line-height: 14px;
	border-color: #D6D6D6;
	position: relative;
	border-width: 0px 1px;
}

#u1185-4:hover p,#u1182-4:hover p,#u1183-4:hover p
{
	visibility: inherit;
	color: #A8A8A8;
}

#u1185-4:hover,#u1185-4.MuseLinkActive,#u1182-4:hover,#u1182-4.MuseLinkActive,#u1183-4:hover,#u1183-4.MuseLinkActive
{
	margin-top: 0px;
	min-height: 34px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u1185-4.MuseLinkActive p,#u1182-4.MuseLinkActive p,#u1183-4.MuseLinkActive p
{
	visibility: inherit;
	color: #B5B5B5;
}

#u1180-bw
{
	z-index: 7;
}

#u18261
{
	position: relative;
	z-index: 110;
	background-color: #8CC63F;
}

#u18263
{
	position: relative;
	z-index: 112;
	background-color: #ED1C24;
}

#u18260
{
	position: relative;
	z-index: 111;
	background-color: #FBB03B;
}

#u18262
{
	position: relative;
	z-index: 113;
	background-color: #29ABE2;
}

#u1192-4
{
	min-height: 53px;
	position: relative;
	line-height: 36px;
	z-index: 44;
	background-color: transparent;
}

#u1294-4
{
	margin-top: 9px;
	min-height: 40px;
	position: relative;
	z-index: 36;
	background-color: transparent;
}

#u1191-7
{
	text-align: justify;
	z-index: 21;
	position: relative;
	background-color: transparent;
}

#u1196-8
{
	min-height: 107px;
	text-align: justify;
	z-index: 28;
	position: relative;
	background-color: transparent;
}

#u18793
{
	position: relative;
	z-index: 116;
	background-color: #8CC63F;
}

#u18795
{
	position: relative;
	z-index: 118;
	background-color: #ED1C24;
}

#u18794
{
	position: relative;
	z-index: 117;
	background-color: #FBB03B;
}

#u18796
{
	position: relative;
	z-index: 119;
	background-color: #29ABE2;
}

#u1262-4
{
	min-height: 53px;
	position: relative;
	line-height: 36px;
	z-index: 48;
	background-color: transparent;
}

#u1296-4
{
	min-height: 41px;
	position: relative;
	z-index: 40;
	background-color: transparent;
}

#slideshowu1326
{
	position: relative;
	width: 0.01px;
	z-index: 75;
	margin-left: 50%;
}

#u1327
{
	background-color: #4C4C4C;
	border-width: 0px;
	border-color: transparent;
	position: absolute;
	height: 686px;
	padding: 22px 22px 40px;
}

#u1327popup
{
	z-index: 76;
}

#u19228
{
	top: 22px;
	position: relative;
	height: 624px;
	z-index: 77;
	background-color: transparent;
	margin-right: -10000px;
}

#u19270
{
	top: 22px;
	left: 22px;
	position: relative;
	height: 624px;
	z-index: 79;
	background-color: transparent;
	margin-right: -10000px;
}

#u19312
{
	top: 22px;
	left: 22px;
	position: relative;
	height: 624px;
	z-index: 81;
	background-color: transparent;
	margin-right: -10000px;
}

#u19396
{
	top: 22px;
	left: 22px;
	position: relative;
	height: 624px;
	z-index: 83;
	background-color: transparent;
	margin-right: -10000px;
}

#u19438
{
	top: 22px;
	left: 22px;
	position: relative;
	height: 624px;
	z-index: 85;
	background-color: transparent;
	margin-right: -10000px;
}

#u18886
{
	top: 22px;
	left: 22px;
	position: relative;
	height: 624px;
	z-index: 87;
	background-color: transparent;
	margin-right: -10000px;
}

#u18944
{
	top: 22px;
	left: 22px;
	position: relative;
	height: 624px;
	z-index: 89;
	background-color: transparent;
	margin-right: -10000px;
}

#u1346
{
	position: absolute;
}

#u1346popup
{
	z-index: 91;
}

#u19240
{
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	z-index: 92;
	background-color: transparent;
}

#u19282
{
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	z-index: 94;
	background-color: transparent;
}

#u19324
{
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	z-index: 96;
	background-color: transparent;
}

#u19408
{
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	z-index: 98;
	background-color: transparent;
}

#u19450
{
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	z-index: 100;
	background-color: transparent;
}

#u18900
{
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	z-index: 102;
	background-color: transparent;
}

#u18958
{
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	z-index: 104;
	background-color: transparent;
}

#u19240:hover,#u19282:hover,#u19324:hover,#u19408:hover,#u19450:hover,#u18900:hover,#u18958:hover
{
	min-height: 0px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	margin-right: -10000px;
	border-radius: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}

#u18789
{
	left: 50%;
	position: fixed;
	bottom: 2px;
	width: 1200px;
	z-index: 2;
	padding-bottom: 18px;
}

#u18704
{
	left: 50%;
	position: fixed;
	bottom: 2px;
	width: 308px;
	z-index: 3;
	height: 18px;
}

#u18703
{
	left: 50%;
	position: fixed;
	bottom: 2px;
	width: 290px;
	z-index: 4;
	height: 18px;
}

#u18702
{
	left: 50%;
	position: fixed;
	bottom: 2px;
	width: 290px;
	z-index: 5;
	height: 18px;
}

#u18701
{
	left: 50%;
	position: fixed;
	bottom: 2px;
	width: 313px;
	z-index: 6;
	height: 18px;
}

#u18823
{
	position: relative;
	z-index: 120;
	background-color: #8CC63F;
}

#u18825
{
	position: relative;
	z-index: 122;
	background-color: #ED1C24;
}

#u18824
{
	position: relative;
	z-index: 121;
	background-color: #FBB03B;
}

#u18826
{
	position: relative;
	z-index: 123;
	background-color: #29ABE2;
}

#u17295-4
{
	min-height: 53px;
	position: relative;
	line-height: 36px;
	z-index: 106;
	background-color: transparent;
}

#u2154-4
{
	min-height: 41px;
	position: relative;
	z-index: 52;
	background-color: transparent;
}

#u17961
{
	border-width: 0px;
	z-index: 125;
	border-color: transparent;
	position: relative;
	background-color: transparent;
	margin-right: -10000px;
}

#u20083
{
	border-width: 0px;
	z-index: 126;
	border-color: transparent;
	position: relative;
	background-color: transparent;
	margin-right: -10000px;
}

#u19635
{
	position: relative;
	z-index: 127;
	background-color: transparent;
	margin-right: -10000px;
}

#u19654
{
	z-index: 129;
	position: relative;
	margin-right: -10000px;
}

#u17970
{
	border-width: 0px;
	min-height: 70px;
	z-index: 124;
	border-color: transparent;
	position: relative;
	background-color: transparent;
	margin-right: -10000px;
}

#u19945
{
	position: relative;
	z-index: 142;
	background-color: transparent;
	margin-right: -10000px;
}

#pslideshowu75,#pu17961,#u19635_img,#pu19654,#pu19945,#u19945_img
{
	width: 100%;
}

#u19939-4
{
	min-height: 26px;
	font-family: lato, sans-serif;
	text-align: center;
	z-index: 138;
	background-color: transparent;
	margin-right: -10000px;
	font-weight: 400;
	line-height: 25px;
	font-size: 21px;
	position: relative;
}

#u19699-7
{
	width: 100%;
	z-index: 131;
	position: relative;
}

#u19654_img,#u19699-7_img
{
	vertical-align: top;
	display: block;
}

.html
{
	background-color: #FFFFFF;
}

#about,#gallery,#contact,body
{
	position: relative;
}

@media (min-width: 1039px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 4024px;
	}

	#page_position_content
	{
		padding-bottom: 190px;
		width: 100%;
	}

	#slideshowu75
	{
		height: 859px;
		margin-left: 50%;
		left: -600px;
	}

	#u77,#u18359,#u19511,#u18410,#u4198
	{
		width: 1200px;
		height: 778px;
	}

	#u96-3
	{
		width: 62px;
		min-height: 37px;
		background-image: url("../images/arrows-mn_arrow_left.png");
		top: 792px;
		left: 19px;
	}

	#u96-3:hover
	{
		min-height: 37px;
		width: 62px;
	}

	#u88-3
	{
		width: 61px;
		min-height: 37px;
		background-image: url("../images/arrows-mn_arrow_right.png");
		top: 792px;
		left: 111px;
	}

	#u88-3:hover
	{
		min-height: 37px;
		width: 61px;
	}

	#u18634
	{
		margin-top: 160px;
		width: 23.92%;
		margin-left: 38.05%;
		left: 1px;
	}

	#u18632
	{
		width: 100.35%;
	}

	#u1187-4
	{
		top: -348px;
		margin-bottom: -126px;
		width: 60%;
		margin-left: 20%;
		left: 3px;
	}

	#u1189-4
	{
		min-height: 34px;
		top: -226px;
		margin-bottom: -34px;
		width: 59.5%;
		margin-left: 20.25%;
		left: 0px;
	}

	#u1180
	{
		min-height: 68px;
		padding-bottom: 29px;
	}

	#u1180_align_to_page
	{
		margin-bottom: -82px;
	}

	#u1186
	{
		width: 357px;
		margin-top: 34px;
		margin-left: 100%;
		left: -392px;
	}

	#u1185-4
	{
		width: 117px;
		margin-left: 100%;
		left: -357px;
	}

	#u1185-4:hover
	{
		width: 117px;
		margin-left: 100%;
		left: -357px;
	}

	#u1185-4.MuseLinkActive
	{
		width: 117px;
		margin-left: 100%;
		left: -357px;
	}

	#pu1182-4
	{
		width: 67.23%;
		margin-left: 32.78%;
	}

	#u1182-4
	{
		width: 120px;
		margin-left: 100%;
		left: -119.99999999999999px;
	}

	#u1182-4:hover
	{
		width: 120px;
		margin-left: 100%;
		left: -119.99999999999999px;
	}

	#u1182-4.MuseLinkActive
	{
		width: 120px;
		margin-left: 100%;
		left: -119.99999999999999px;
	}

	#u1183-4
	{
		width: 119px;
		margin-left: 100%;
		left: -240px;
	}

	#u1183-4:hover
	{
		width: 119px;
		margin-left: 100%;
		left: -240px;
	}

	#u1183-4.MuseLinkActive
	{
		width: 119px;
		margin-left: 100%;
		left: -240px;
	}

	#u1180-bw
	{
		min-height: 68px;
		margin-top: -82px;
	}

	#about
	{
		margin-left: 22px;
		margin-top: 39px;
	}

	#u18261
	{
		width: 308px;
		height: 4px;
		margin-top: 12px;
		margin-left: 50%;
		left: -600px;
	}

	#u18260
	{
		width: 289px;
		height: 4px;
		top: -4px;
		margin-bottom: -4px;
		margin-left: 50%;
		left: -291px;
	}

	#u18263
	{
		width: 293px;
		height: 4px;
		top: -4px;
		margin-bottom: -4px;
		margin-left: 50%;
		left: -2px;
	}

	#u1192-4
	{
		margin-top: 46px;
		width: 80.09%;
		margin-left: 10%;
	}

	#u1294-4
	{
		width: 80%;
		margin-left: 10%;
	}

	#pu1191-7
	{
		margin-top: 46px;
		width: 100%;
	}

	#u1191-7
	{
		min-height: 266px;
		margin-right: -10000px;
		width: 36.67%;
		left: 10%;
	}

	#u1196-8
	{
		margin-right: -10000px;
		width: 36.67%;
		left: 53.34%;
	}

	#u18789,#u18704
	{
		margin-left: -600px;
	}

	#u18703
	{
		margin-left: -292px;
	}

	#u18702
	{
		margin-left: -2px;
	}

	#u18701
	{
		margin-left: 287px;
	}

	#gallery
	{
		margin-left: 22px;
		margin-top: 258px;
	}

	#u18793
	{
		width: 308px;
		height: 4px;
		margin-top: 6px;
		margin-left: 50%;
		left: -600px;
	}

	#u18794
	{
		width: 289px;
		height: 4px;
		top: -4px;
		margin-bottom: -4px;
		margin-left: 50%;
		left: 0px;
	}

	#u1262-4
	{
		margin-top: 13px;
		width: 80.09%;
		margin-left: 10%;
	}

	#u1296-4
	{
		margin-top: 6px;
		width: 80%;
		margin-left: 10%;
	}

	#slideshowu1326
	{
		height: 1155px;
		margin-top: 83px;
		left: -481px;
	}

	#u1327
	{
		width: 1200px;
		top: 495px;
		left: -119px;
	}

	#u19228,#u19270,#u19312,#u19396,#u19438,#u18886,#u18944
	{
		width: 1156px;
	}

	#u1346
	{
		width: 946px;
	}

	#u19240
	{
		width: 465px;
		height: 272px;
		margin-top: 588px;
		left: 6px;
	}

	#u19240:hover
	{
		margin-top: 588px;
		width: 465px;
		height: 272px;
	}

	#u19240_img
	{
		margin-left: -15px;
		margin-top: -24px;
		margin-bottom: -25px;
	}

	#u19282
	{
		width: 465px;
		height: 272px;
		margin-top: 586px;
		left: 481px;
	}

	#u19282:hover
	{
		margin-top: 586px;
		width: 465px;
		height: 272px;
	}

	#u19282_img
	{
		padding-right: 7px;
	}

	#u19324
	{
		width: 465px;
		height: 272px;
		margin-top: 883px;
	}

	#u19324:hover
	{
		margin-top: 883px;
		width: 465px;
		height: 272px;
	}

	#u19408
	{
		width: 465px;
		height: 272px;
		margin-top: 299px;
		left: 481px;
	}

	#u19408:hover
	{
		margin-top: 299px;
		width: 465px;
		height: 272px;
	}

	#u19408_img
	{
		padding-left: 2px;
		padding-right: 3px;
	}

	#u19450
	{
		width: 465px;
		height: 272px;
		left: 480px;
	}

	#u18900
	{
		width: 465px;
		height: 272px;
	}

	#u19450:hover,#u18900:hover
	{
		margin-top: 0px;
		width: 465px;
		height: 272px;
	}

	#u18900_img
	{
		margin-top: -19px;
		margin-bottom: -19px;
	}

	#u18958
	{
		width: 465px;
		height: 272px;
		margin-top: 294px;
	}

	#u18958:hover
	{
		margin-top: 294px;
		width: 465px;
		height: 272px;
	}

	#u18958_img
	{
		margin-left: -39px;
		margin-right: -40px;
	}

	#u18823
	{
		width: 308px;
		height: 4px;
		margin-top: 64px;
		margin-left: 50%;
		left: -600px;
	}

	#u18795,#u18825
	{
		width: 293px;
		height: 4px;
		top: -4px;
		margin-bottom: -4px;
		margin-left: 50%;
		left: -292px;
	}

	#u18824
	{
		width: 289px;
		height: 4px;
		top: -4px;
		margin-bottom: -4px;
		margin-left: 50%;
		left: 1px;
	}

	#u18262,#u18796,#u18826
	{
		width: 315px;
		height: 4px;
		top: -4px;
		margin-bottom: -4px;
		margin-left: 50%;
		left: 285px;
	}

	#contact
	{
		margin-left: 22px;
		margin-top: 7px;
	}

	#u17295-4,#u2154-4
	{
		margin-top: 6px;
		width: 80.09%;
		margin-left: 10%;
	}

	#pu17961
	{
		margin-top: 54px;
	}

	#u17961
	{
		width: 542px;
		min-height: 100px;
		margin-top: 7px;
		left: 38.5%;
	}

	#u20083
	{
		width: 542px;
		min-height: 100px;
		margin-top: 17px;
		left: 39.34%;
	}

	#pu19654
	{
		margin-top: 26px;
	}

	#u19635,#u19654
	{
		width: 9.5%;
		left: 24.5%;
	}

	#u17970
	{
		width: 542px;
		margin-top: 18px;
		left: 38.5%;
	}

	#pu19945
	{
		margin-top: 29px;
	}

	#u19945
	{
		width: 9.67%;
		left: 24.42%;
	}

	#u19939-4
	{
		margin-top: 49px;
		width: 15.75%;
		left: 38.5%;
	}

	#u19699-7
	{
		margin-top: 68px;
	}

	#u19654_img,#u19699-7_img
	{
		width: 100%;
	}
}

@media (min-width: 726px) and (max-width: 1038px)
{
	#muse_css_mq
	{
		background-color: #00040e;
	}

	#bp_1038.active
	{
		display: block;
	}

	#page
	{
		min-height: 5170px;
		max-width: 1038px;
	}

	#page_position_content
	{
		padding-bottom: 88px;
		width: 100%;
	}

	#slideshowu75
	{
		height: 859px;
	}

	#u77,#u18359,#u19511,#u18410,#u4198
	{
		width: 1038px;
		height: 778px;
	}

	#u96-3
	{
		width: 62px;
		min-height: 37px;
		background-image: url("../images/arrows-mn_arrow_left.png");
		top: 792px;
		left: 19px;
	}

	#u96-3:hover
	{
		min-height: 37px;
		width: 62px;
	}

	#u88-3
	{
		width: 61px;
		min-height: 37px;
		background-image: url("../images/arrows-mn_arrow_right.png");
		top: 792px;
		left: 111px;
	}

	#u88-3:hover
	{
		min-height: 37px;
		width: 61px;
	}

	#u18634
	{
		margin-top: 160px;
		width: 23.9%;
		margin-left: 38.06%;
		left: 0px;
	}

	#u18632
	{
		width: 100.41%;
	}

	#u1187-4
	{
		top: -349px;
		margin-bottom: -126px;
		margin-left: 0%;
		left: 200px;
	}

	#u1189-4
	{
		width: 639px;
		min-height: 34px;
		top: -226px;
		margin-bottom: -34px;
		margin-left: 50%;
		left: -319px;
	}

	#u1180
	{
		min-height: 68px;
		padding-bottom: 29px;
	}

	#u1180_align_to_page
	{
		margin-bottom: -82px;
	}

	#u1186
	{
		width: 357px;
		margin-top: 34px;
		margin-left: 100%;
		left: -398px;
	}

	#u1185-4
	{
		width: 117px;
		margin-left: 100%;
		left: -357px;
	}

	#u1185-4:hover
	{
		width: 117px;
		margin-left: 100%;
		left: -357px;
	}

	#u1185-4.MuseLinkActive
	{
		width: 117px;
		margin-left: 100%;
		left: -357px;
	}

	#pu1182-4
	{
		width: 67.23%;
		margin-left: 32.78%;
	}

	#u1182-4
	{
		width: 120px;
		margin-left: 100%;
		left: -119.99999999999999px;
	}

	#u1182-4:hover
	{
		width: 120px;
		margin-left: 100%;
		left: -119.99999999999999px;
	}

	#u1182-4.MuseLinkActive
	{
		width: 120px;
		margin-left: 100%;
		left: -119.99999999999999px;
	}

	#u1183-4
	{
		width: 119px;
		margin-left: 100%;
		left: -240px;
	}

	#u1183-4:hover
	{
		width: 119px;
		margin-left: 100%;
		left: -240px;
	}

	#u1183-4.MuseLinkActive
	{
		width: 119px;
		margin-left: 100%;
		left: -240px;
	}

	#u1180-bw
	{
		min-height: 68px;
		margin-top: -82px;
	}

	#u18261
	{
		height: 4px;
		margin-top: 13px;
		width: 25.73%;
		left: 0.39%;
	}

	#u18263
	{
		height: 4px;
		top: -5px;
		margin-bottom: -4px;
		width: 25.05%;
		margin-left: 25.34%;
	}

	#u18260
	{
		height: 4px;
		top: -4px;
		margin-bottom: -4px;
		width: 25.25%;
		margin-left: 50.29%;
	}

	#u18262
	{
		height: 4px;
		top: -4px;
		margin-bottom: -4px;
		width: 25.05%;
		margin-left: 75.44%;
	}

	#about
	{
		margin-left: 25px;
		margin-top: 22px;
	}

	#u1192-4
	{
		margin-top: 17px;
		width: 76.11%;
		margin-left: 12.05%;
	}

	#u1294-4
	{
		width: 76.11%;
		margin-left: 11.95%;
	}

	#u1191-7
	{
		min-height: 149px;
		margin-top: 96px;
		width: 76.11%;
		margin-left: 11.95%;
	}

	#u1196-8
	{
		margin-top: 29px;
		width: 76.11%;
		margin-left: 11.95%;
		left: 0px;
	}

	#u18789,#u18704
	{
		margin-left: -600px;
	}

	#u18703
	{
		margin-left: -292px;
	}

	#u18702
	{
		margin-left: -2px;
	}

	#u18701
	{
		margin-left: 287px;
	}

	#u18793
	{
		height: 4px;
		margin-top: 226px;
		width: 25.73%;
		left: 0.29%;
	}

	#gallery
	{
		margin-left: 25px;
		margin-top: 13px;
	}

	#u1262-4
	{
		top: -3px;
		margin-bottom: -3px;
		width: 76.11%;
		margin-left: 12.05%;
	}

	#u1296-4
	{
		margin-top: 6px;
		width: 76.11%;
		margin-left: 11.95%;
	}

	#slideshowu1326
	{
		height: 2306px;
		margin-top: 29px;
		left: -297px;
	}

	#u1327
	{
		width: 1038px;
		top: 281px;
		left: -222px;
	}

	#u19228,#u19270,#u19312,#u19396,#u19438,#u18886,#u18944
	{
		width: 994px;
	}

	#u1346
	{
		width: 602px;
	}

	#u19240
	{
		width: 602px;
		height: 272px;
		margin-top: 581px;
	}

	#u19240:hover
	{
		margin-top: 581px;
		width: 602px;
		height: 272px;
	}

	#u19282
	{
		width: 602px;
		height: 272px;
		margin-top: 1743px;
	}

	#u19282:hover
	{
		margin-top: 1743px;
		width: 602px;
		height: 272px;
	}

	#u19282_img
	{
		padding-left: 92px;
		padding-right: 93px;
	}

	#u19324
	{
		width: 602px;
		height: 272px;
		margin-top: 871px;
	}

	#u19324:hover
	{
		margin-top: 871px;
		width: 602px;
		height: 272px;
	}

	#u19240_img,#u19324_img
	{
		padding-left: 97px;
		padding-right: 98px;
	}

	#u19408
	{
		width: 602px;
		height: 272px;
		margin-top: 1453px;
	}

	#u19408:hover
	{
		margin-top: 1453px;
		width: 602px;
		height: 272px;
	}

	#u19408_img
	{
		padding-left: 120px;
		padding-right: 119px;
	}

	#u19450
	{
		width: 602px;
		height: 272px;
		margin-top: 1162px;
	}

	#u19450:hover
	{
		margin-top: 1162px;
		width: 602px;
		height: 272px;
	}

	#u19450_img
	{
		padding-top: 2px;
		padding-bottom: 2px;
	}

	#u18900
	{
		width: 602px;
		height: 272px;
	}

	#u18900:hover
	{
		margin-top: 0px;
		width: 602px;
		height: 272px;
	}

	#u18900_img
	{
		margin: -24px 61px -25px;
	}

	#u18958
	{
		width: 602px;
		height: 272px;
		margin-top: 2034px;
	}

	#u18958:hover
	{
		margin-top: 2034px;
		width: 602px;
		height: 272px;
	}

	#u18958_img
	{
		margin-top: -14px;
		margin-bottom: -15px;
	}

	#contact
	{
		margin-left: 25px;
		margin-top: 288px;
	}

	#u18823
	{
		height: 4px;
		margin-top: 7px;
		width: 25.73%;
		left: 0.29%;
	}

	#u18795,#u18825
	{
		height: 4px;
		top: -4px;
		margin-bottom: -4px;
		width: 25.05%;
		margin-left: 25.44%;
	}

	#u18794,#u18824
	{
		height: 4px;
		top: -4px;
		margin-bottom: -4px;
		width: 25.25%;
		margin-left: 50.39%;
	}

	#u18796,#u18826
	{
		height: 4px;
		top: -4px;
		margin-bottom: -4px;
		width: 25.05%;
		margin-left: 75.53%;
	}

	#u17295-4
	{
		margin-top: 7px;
		width: 76.11%;
		margin-left: 11.95%;
	}

	#u2154-4
	{
		margin-top: 32px;
		width: 75.92%;
		margin-left: 12.05%;
	}

	#pu17961
	{
		margin-top: 63px;
	}

	#u17961
	{
		width: 429px;
		min-height: 65px;
		margin-top: 18px;
		left: 39.6%;
	}

	#u20083
	{
		width: 429px;
		min-height: 65px;
		margin-top: 28px;
		left: 40.56%;
	}

	#u19635
	{
		width: 9.83%;
		left: 22.55%;
	}

	#pu19654
	{
		margin-top: 8px;
	}

	#u19654_img
	{
		width: 99%;
	}

	#u17970
	{
		width: 430px;
		margin-top: 17px;
		left: 39.6%;
	}

	#pu19945
	{
		margin-top: 17px;
	}

	#u19654,#u19945
	{
		width: 9.64%;
		left: 22.55%;
	}

	#u19939-4
	{
		margin-top: 37px;
		width: 15.71%;
		left: 39.6%;
	}

	#u19699-7
	{
		margin-top: 33px;
	}

	#u19699-7_img
	{
		width: 99.91%;
	}
}

@media (max-width: 725px)
{
	#muse_css_mq
	{
		background-color: #0002d5;
	}

	#bp_725.active
	{
		display: block;
	}

	#page
	{
		min-height: 3619px;
		padding-bottom: 70px;
		max-width: 725px;
	}

	#slideshowu75
	{
		height: 323px;
		margin-left: 50%;
		left: -363px;
	}

	#u77,#u18359,#u19511,#u18410,#u4198
	{
		width: 725px;
		height: 323px;
	}

	#u96-3
	{
		width: 20px;
		min-height: 21px;
		background-image: url("../images/arrows-u96-3-fr.png");
		top: 245px;
		left: 307px;
	}

	#u96-3:hover
	{
		min-height: 21px;
		width: 20px;
	}

	#u88-3
	{
		width: 19px;
		min-height: 21px;
		background-image: url("../images/arrows-u88-3-fr.png");
		top: 245px;
		left: 367px;
	}

	#u88-3:hover
	{
		min-height: 21px;
		width: 19px;
	}

	#u18634
	{
		margin-top: 10px;
		width: 15.04%;
		margin-left: 42.49%;
		left: 8px;
	}

	#u18632
	{
		margin-bottom: 33.94495412844037%;
		width: 100.92%;
	}

	#u1187-4
	{
		top: -199px;
		margin-bottom: -83px;
		margin-left: 0%;
		left: 204px;
	}

	#u1189-4
	{
		width: 317px;
		min-height: 37px;
		top: -122px;
		margin-bottom: -37px;
		margin-left: 50%;
		left: -159px;
	}

	#u1180
	{
		min-height: 65px;
		padding-bottom: 32px;
	}

	#u1186
	{
		width: 314px;
		margin-top: 31px;
		margin-left: 50%;
		left: -158px;
	}

	#u1185-4
	{
		width: 103px;
		margin-left: 50%;
		left: -157px;
	}

	#u1185-4:hover
	{
		width: 103px;
		margin-left: 50%;
		left: -157px;
	}

	#u1185-4.MuseLinkActive
	{
		width: 103px;
		margin-left: 50%;
		left: -157px;
	}

	#pu1182-4
	{
		width: 67.2%;
		margin-left: 16.41%;
	}

	#u1182-4
	{
		width: 105px;
		margin-left: 50%;
		left: 50.49999999999999px;
	}

	#u1182-4:hover
	{
		width: 105px;
		margin-left: 50%;
		left: 50.49999999999999px;
	}

	#u1182-4.MuseLinkActive
	{
		width: 105px;
		margin-left: 50%;
		left: 50.49999999999999px;
	}

	#u1183-4
	{
		width: 104px;
		margin-left: 50%;
		left: -54.50000000000001px;
	}

	#u1183-4:hover
	{
		width: 104px;
		margin-left: 50%;
		left: -54.50000000000001px;
	}

	#u1183-4.MuseLinkActive
	{
		width: 104px;
		margin-left: 50%;
		left: -54.50000000000001px;
	}

	#u1180-bw
	{
		min-height: 65px;
	}

	#about
	{
		margin-left: 26px;
		top: -1px;
		margin-bottom: -1px;
	}

	#u18261
	{
		width: 179px;
		height: 5px;
		top: -5px;
		margin-bottom: -5px;
		margin-left: 50%;
		left: -363px;
	}

	#u1294-4
	{
		width: 76.14%;
		margin-left: 11.87%;
	}

	#u1191-7
	{
		min-height: 196px;
		margin-top: 46px;
		width: 76.14%;
		margin-left: 12%;
	}

	#u1196-8
	{
		margin-top: 15px;
		width: 76.14%;
		margin-left: 12%;
	}

	#u18793
	{
		width: 179px;
		height: 5px;
		margin-top: 124px;
		margin-left: 50%;
		left: -363px;
	}

	#gallery
	{
		margin-left: 26px;
		margin-top: 21px;
	}

	#u1192-4,#u1262-4
	{
		margin-top: 75px;
		width: 76%;
		margin-left: 12%;
	}

	#u1296-4
	{
		margin-top: 5px;
		width: 76.14%;
		margin-left: 11.87%;
	}

	#slideshowu1326
	{
		height: 1625px;
		margin-top: 47px;
		left: -158px;
	}

	#u1327
	{
		width: 725px;
		top: 84px;
		left: -205px;
	}

	#u19228,#u19270,#u19312,#u19396,#u19438,#u18886,#u18944
	{
		width: 681px;
	}

	#u1346
	{
		width: 318px;
	}

	#u19240
	{
		width: 318px;
		height: 213px;
	}

	#u19240:hover
	{
		margin-top: 0px;
		width: 318px;
		height: 213px;
	}

	#u19282
	{
		width: 318px;
		height: 213px;
		margin-top: 478px;
	}

	#u19282:hover
	{
		margin-top: 478px;
		width: 318px;
		height: 213px;
	}

	#u19282_img
	{
		padding-top: 3px;
		padding-bottom: 3px;
	}

	#u19324
	{
		width: 318px;
		height: 213px;
		margin-top: 233px;
	}

	#u19324:hover
	{
		margin-top: 233px;
		width: 318px;
		height: 213px;
	}

	#u19240_img,#u19324_img
	{
		padding-bottom: 1px;
	}

	#u19408
	{
		width: 318px;
		height: 213px;
		margin-top: 711px;
	}

	#u19408:hover
	{
		margin-top: 711px;
		width: 318px;
		height: 213px;
	}

	#u19408_img
	{
		margin: -29px -6px -6px;
	}

	#u19450
	{
		width: 318px;
		height: 213px;
		margin-top: 944px;
	}

	#u19450:hover
	{
		margin-top: 944px;
		width: 318px;
		height: 213px;
	}

	#u18900
	{
		width: 318px;
		height: 213px;
		margin-top: 1412px;
	}

	#u18900:hover
	{
		margin-top: 1412px;
		width: 318px;
		height: 213px;
	}

	#u18958
	{
		width: 318px;
		height: 213px;
		margin-top: 1179px;
	}

	#u18958:hover
	{
		margin-top: 1179px;
		width: 318px;
		height: 213px;
	}

	#u18789,#u18704
	{
		margin-left: -443px;
	}

	#u18703
	{
		margin-left: -136px;
	}

	#u18702
	{
		margin-left: 154px;
	}

	#u18701
	{
		margin-left: 443px;
	}

	#contact
	{
		margin-left: 26px;
		margin-top: 83px;
	}

	#u18823
	{
		width: 179px;
		height: 5px;
		top: -3px;
		margin-bottom: -3px;
		margin-left: 50%;
		left: -363px;
	}

	#u18263,#u18795,#u18825
	{
		width: 187px;
		height: 5px;
		top: -5px;
		margin-bottom: -5px;
		margin-left: 50%;
		left: -187px;
	}

	#u18260,#u18794,#u18824
	{
		width: 173px;
		height: 5px;
		top: -5px;
		margin-bottom: -5px;
		margin-left: 50%;
		left: 2px;
	}

	#u18262,#u18796,#u18826
	{
		width: 187px;
		height: 5px;
		top: -5px;
		margin-bottom: -5px;
		margin-left: 50%;
		left: 176px;
	}

	#u17295-4
	{
		margin-top: 27px;
		width: 76%;
		margin-left: 12%;
	}

	#u2154-4
	{
		margin-top: 23px;
		width: 73.94%;
		margin-left: 13.11%;
	}

	#pu17961
	{
		margin-top: 31px;
	}

	#u17961
	{
		width: 285px;
		min-height: 76px;
		margin-top: 4px;
		margin-left: 50%;
		left: -51px;
	}

	#u20083
	{
		width: 285px;
		min-height: 100px;
		margin-left: 50%;
		left: -53px;
	}

	#u19635
	{
		margin-top: 4px;
		width: 10.49%;
		left: 24.83%;
	}

	#pu19654
	{
		margin-top: 10px;
	}

	#u19654
	{
		width: 10.49%;
		left: 25.38%;
	}

	#u19654_img
	{
		width: 98.69%;
	}

	#u17970
	{
		width: 289px;
		margin-top: 5px;
		left: 42.76%;
	}

	#pu19945
	{
		margin-top: 26px;
	}

	#u19945
	{
		width: 9.66%;
		left: 25.66%;
	}

	#u19939-4
	{
		margin-top: 21px;
		width: 24.69%;
		left: 42.35%;
	}

	#u19699-7
	{
		margin-top: 30px;
	}

	#u19699-7_img
	{
		width: 100%;
	}

	body
	{
		min-width: 320px;
		padding-bottom: 73px;
	}
}

