#u18789
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u18704
{
	background-color: #8CC63F;
}

#u18703
{
	background-color: #FBB03B;
}

#u18702
{
	background-color: #ED1C24;
}

#u18701
{
	background-color: #29ABE2;
}




